[submodule "dpbs-docs/vulcan-examples"]
	path = dpbs-docs/vulcan-examples
	url = git@bitbucket.org:rubik_/vulcan-examples.git
	branch = main
[submodule "dpbs-docs/dataos"]
	path = dpbs-docs/dataos
	url = git@github.com:moderndatacompany/dataos.git
	branch = main
